.bgRed{
    background-color: map-get($map:$bgPaleta, $key: 'bgText');
    margin: 20px;
    padding: 20px;
}
.preguntasFrecuentes{
    background-color: map-get($map:$bgPaleta, $key: 'bgH1');
    color: $fontSilver;
}
.btn-color{
    background: linear-gradient(to left, black, gray);
    color: $fontWhite;
    &:hover{
        background: linear-gradient (to left, grey, black);
        transform: 1s ;
    }

}