.inventario{
    text-align: center;
    color: $fontWhite;
}
.bgGray{
    background-color: map-get($map:$bgPaleta, $key: 'bgH1');
    padding: 5px;
    margin: 15px;
    display: inline-block;
}
.bgFiltro{
    background-color: map-get($map:$bgPaleta, $key: 'bgFiltro');;
    padding: 20px;
    margin: 15px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
}
.navFiltro{
    @include list(none,none);
    color: $fontBlack;
    &:hover{
        color: $fontWhite;
    }
}
.navFiltro1{
    align-items: center;
}
.contenedor{
    display: f;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "header"
    "filtro"
    "productos"
    "footer";
}
#nav{
    grid-area: nav;
}
#header{
    grid-area: header;
}
#navFiltro{
    grid-area: filtro;
}
#productos{
    grid-area: productos;
}
#footer{
    grid-area: footer;
}
@media (min-width: 768px){
.contenedor{
    grid-template-columns: 15vw 85vw;
    grid-template-areas: 
    "nav nav"
    "header header"
    "filtro productos"
    "filtro productos"
    "footer footer"
}
#productos{
    flex-direction: column;
}
#navFiltro{
    text-align: left;
}    
}

@media (min-width: 1024px){
.contenedor{
    grid-template-columns: 15vw 85vw;
    grid-template-areas: 
    "nav nav"
    "header header"
    "filtro productos"
    "filtro productos"
    "footer footer"
}
.info{
    text-align: center;
    margin: 20px;
    flex-direction: row;
}

}
.piePagina{
    background-color: map-get($map:$bgPaleta, $key: 'bgBlack');;
    color: $fontWhite;
    ul{
        list-style: none;    
    }
    a{
        @include list(none,none);
        color: $fontWhite;
        &:hover{
            color: $fontSilver;
        }
    }
}
.btn-carrito{
    @extend .btn-color;
    width: 100px;
    height: 30px;
}